@import url('https://fonts.googleapis.com/css?family=Barlow:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fraunces:700,900&display=swap');

:root {
  --serif: 'Fraunces';
  --sans: 'Barlow';
  --font-size: 18px;
  --normal-sans: 600;
  --normal-serif: 700;
  --bold-serif: 900;

  --margin: 1rem;
  --padding: 1rem;

  --soft-red: hsl(7, 99%, 70%);
  --light-soft-red: hsl(7, 99%, 90%);
  --yellow: hsl(51, 100%, 49%);
  --light-yellow: hsl(51, 100%, 79%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --moderate-cyan: rgba(153, 217, 203, 255);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --light-grayish-blue: rgba(167, 171, 174, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: var(--font-size);
}

.centered-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.even-spread-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-img {
  height: 100%;
  object-fit: fill;
  max-width: 100%;
}

.paragraph {
  font-family: var(--sans), sans-serif;
  font-weight: var(--normal-serif);
}

.title {
  font-family: var(--serif), serif;
  font-weight: var(--bold-serif);
}

.txt-img-card {
  position: relative;

  & div {
    color: var(--dark-desaturated-cyan);
    padding: var(--padding);
    position: absolute;
    bottom: 10%;
    text-align: center;

    & h2 {
      font-size: 2rem;
    }
  }
}

.txt-card {
  background: white;
  padding: var(--padding);

  & h2 {
    color: var(--dark-desaturated-blue);
    text-align: center;
  }

  & p {
    color: var(--very-dark-grayish-blue);
    line-height: 1.6;
    text-align: center;

    & span {
      color: var(--dark-desaturated-blue);
      cursor: pointer;
    }

    & #learn1 {
      text-decoration: underline var(--light-yellow) solid 0.25rem;
    }

    & #learn1:hover {
      text-decoration: underline var(--yellow) solid 0.25rem;
    }

    & #learn2 {
      text-decoration: underline var(--light-soft-red) solid 0.25rem;
    }

    & #learn2:hover {
      text-decoration: underline var(--soft-red) solid 0.25rem;
    }
  }
}

.visually-hidden {
  display: none;
}

main > header {
  position: relative;
  text-align: center;

  & #menu-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 3%;
    width: 100%;
    z-index: 1;

    & img {
      margin: 0 var(--margin);
    }

    & #ham-btn {
      cursor: pointer;
    }
  }

  & #main-nav {
    height: max-content;
    position: absolute;
    left: var(--margin);
    right: var(--margin);
    top: 4rem;
    z-index: 1;

    & menu {
      background: white;
      color: var(--very-dark-grayish-blue);
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: calc(2 * var(--padding));
      width: 100%;

      & li {
        cursor: pointer;
        padding: var(--padding) 0;
        width: min-content;
      }

      & li span {
        background: var(--yellow);
        border-radius: 1.75rem;
        color: var(--dark-desaturated-blue);
        font-family: var(--serif), serif;
        padding: 0.75rem 1.75rem;
      }
    }
  }
  /* Triangle shape in upper right corner of nav */
  & #main-nav::before {
    border-bottom: 2rem solid white;
    border-left: 2rem solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    top: -2rem;
    width: 0;
  }

  & > h1 {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 0.25rem;
    position: absolute;
    text-align: center;
    top: 15%;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 0;
  }
  /* The box allows the arrow to be horizontally centered */
  & #arrow-box {
    width: 100%;

    & #arrow {
      bottom: 25%;
      height: auto;
      position: absolute;
      left: auto;
      max-width: 100%;
      right: auto;
      z-index: 0;
    }
  }
}

#testimonials {
  background: white;
  padding: var(--padding);

  & h2 {
    color: var(--grayish-blue);
    font-family: var(--serif), serif;
    letter-spacing: 0.25rem;
    text-align: center;
  }

  & > div {
    color: var(--very-dark-grayish-blue);
    line-height: 1.7;
    margin: 5rem 0;
    text-align: center;

    & > div {
      color: var(--dark-desaturated-blue);

      & span {
        color: var(--grayish-blue);
        font-size: 0.75rem;
      }
    }
  }

  & img {
    border-radius: 50%;
    height: auto;
    object-fit: contain;
    max-width: 20%;
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

main > footer {
  background: var(--moderate-cyan);
  flex: auto;
  flex-wrap: wrap;

  & > img {
    margin-top: 2rem;
  }

  & nav {
    flex: auto;
    width: 100%;
  }

  & menu {
    color: var(--dark-desaturated-cyan);
    flex-direction: nowrap;
    list-style-type: none;
    margin: var(--margin);
    padding: 0;
    text-align: center;

    & li {
      cursor: pointer;
      display: inline;
      padding: var(--padding);
    }
  }

  & div {
    flex: auto;
    flex-wrap: nowrap;
    margin: calc(2 * var(--margin));

    & img {
      cursor: pointer;
    }
  }
}

@media (min-width: 720px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  main > header {
    grid-column: span 2;

    & #ham-btn {
      display: none;
    }

    & #main-nav {
      display: block !important;
      position: static;

      & menu {
        background: transparent;
        color: white;
        display: block;
        padding: var(--padding);
        width: auto;

        & li {
          display: inline;
          margin: var(--margin);
        }

        & li span {
          background: white;
          color: black;
        }

        & li span:hover {
          background: var(--light-grayish-blue);
          color: white;
        }
      }
    }

    & #main-nav::before {
      display: none;
    }
  }

  .txt-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding);

    & > h2 {
      text-align: start;
      width: 70%;
    }

    & > p {
      text-align: start;
      width: 70%;
    }
  }

  #egg {
    grid-column: 2;
  }

  #transform-brand {
    grid-column: 1;
    grid-row: 2;
  }

  #testimonials {
    grid-column: span 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & h2 {
      flex: 1 0 100%;
      margin-bottom: 0;
    }

    & > div {
      flex: 1 0 33.333%;
      padding: var(--padding);
    }
  }

  #gallery {
    grid-column: span 2;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  main > footer {
    grid-column: span 2;

    & li:hover {
      color: white;
    }

    & svg:hover {
      cursor: pointer;

      & path {
        fill: white;
      }
    }
  }
}
